h1 {
  font-family: Tahoma;
  letter-spacing: 3px;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #022f4d;
  text-decoration: underline;
  font-size: 30px;
}

hr {
  border: none;
  height: 2px;
}

body {
  padding: 50px;
  margin: 'auto';
}

.map {
  height: 500px;
  width: 100%;
}